/* CSS RESET  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET  */

/* Styling  */

 * {
   outline: 1px solid red !important;
   opacity: 1 !important;
   visibility: visible !important
}

body {
    font-family: 'Space Mono', monospace;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    background: hsl(189, 41%, 97%);
}

img {
    margin: 2rem;
    width: 5rem;
    height: auto;
}


.primaryCard {
    background: hsl(0, 0%, 100%);
    width: 100%;
    min-height: auto;
    border-radius: 15px;
}

h3 {
    margin: 1.8rem 0 0.5rem 1.8rem;
}

.billAmountInput {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 1rem auto;
}

input[type="number"] {
    width: 83%;
    height: 2.2rem;
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    background: hsl(189, 41%, 97%);
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-size: 1.3rem;
    color: hsl(184, 14%, 56%);
}

input[type="number"].focus {
    outline: 3px solid hsl(172, 67%, 84%);
}

i>img {
    position: absolute;
    bottom: -22px;
    left: 5px;
    width: 0.7rem;
    height: auto;
    z-index: 2;
}

.tipSelection {
    margin: 0.6rem 0 0.5rem 1.8rem;
}

.percentageChoice {
    max-width: 100%;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    margin: 1rem 0 1rem 1.8rem;
    height: 3rem;
    border-radius: 8px;
    background: hsl(183, 100%, 15%);
    color: white;
    font-size: 1.3rem;
    font-family: 'Space Mono', monospace;
    border: none;
    padding: 0 2rem;
    cursor: pointer;
}

#customPercent {
    text-align: left;
    width: 32%;
    margin: 1rem 0 1rem 7rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 1.3rem;
    border: none;
    font-family: 'Space Mono', monospace;
    background: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    cursor: pointer;
}


#customPercent::placeholder {
    text-align: center;
}


#customPercent:focus {
    outline: 3px solid hsl(172, 67%, 84%);
}

button:hover {
    background: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%)
}

button:focus {
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

button.active {
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.numberOfPeople {
    margin: 0.6rem 0 0.5rem 1.8rem;
}

.numberOfPeopleValueDiv {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 1rem auto;

}

.numberOfPeopleValue {
    width: 83%;
    height: 2.2rem;
    border: none;
    background: hsl(189, 41%, 97%);
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: right;
}

.personIcon {
    position: abosolute;
    z-index: 100;
    width: 0.8rem;
    height: auto;
}


.secondaryCard {
    padding: 1rem;
    margin: 1rem 1em;
    background: hsl(183, 100%, 15%);
    width: 75%;
    height: auto;
    color: white;
    border-radius: 15px;
}

.tipAmount, .totalPerPerson, .pp {
    margin: 1.2rem;
}

.totalTipAmount {
    margin-left: 1.2rem;
}

.pp {
    color: hsl(184, 14%, 56%);
    font-size: 0.85rem;
    
}

.tipPerPerson {
    vertical-align: center;
    margin-left: 4rem;
    font-size: 1.5rem;
    color: hsl(172, 67%, 45%)
}

.totalTip{
    vertical-align: center;
    margin-left: 7rem;
    font-size: 1.5rem;
    color: hsl(172, 67%, 45%)
}



.reset {
    display: block;
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    width: 90%;
    font-size: 1.2rem;
    margin: 1.5rem auto 0rem auto;
    border-radius: 10px;
    cursor: pointer;
}



.reset:hover {
    background: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%)
}

.reset:active, .reset:focus {
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

@media only screen and (min-width: 1100px) {
    body {
        background: hsl(185, 41%, 84%);
    }

    h1 {
        background: none;
    }

    .container {
        margin: 0 auto;
        flex-direction: row;
        background: white;
        border-radius: 10px;
        width: 70%;
        height: 30%;
    }

    .primaryCard {
        height: 30%;
        width: 70%;
    }

    .secondaryCard {
        width: 60%;
        height: 30%;
    }

    input[type="number"] {
        width: 90%;
        height: 2.2rem;
        border: none;
        margin-left: 50%;
        transform: translateX(-50%);
        background: hsl(189, 41%, 97%);
        text-indent: 30%;
        font-family: 'Space Mono', monospace;
        font-size: 1.3rem;
        color: hsl(184, 14%, 56%);
    }

    input[type="number"]::placeholder {
        text-align: end;
    }

    .numberOfPeopleValue {
        width: 90%;
        height: 2.2rem;
        border: none;
        background: hsl(189, 41%, 97%);
        margin-left: 50%;
        transform: translateX(-50%);
        text-indent: 32px;
    }

    button {
        margin: 1rem;
        width: 29%;
    }

    #customPercent {
        width: 29%;
        margin: 1rem;
        margin-left: 5rem;
        height: 3rem;
        border-radius: 8px;
        font-size: 1.3rem;
        border: none;
        text-align: left;
        font-family: 'Space Mono', monospace;
        background: hsl(189, 41%, 97%);
        color: hsl(184, 14%, 56%);
        cursor: pointer;
    }

    .pp {
        color: hsl(184, 14%, 56%);
        font-size: 0.85rem;
    }

    .tipAmount, .totalTipAmount {
        margin-top: 2rem;
    }

    .tipPerPerson {
        vertical-align: center;
        margin-left: 15rem;
        margin-top: 1rem;
        font-size: 2rem;
        color: hsl(172, 67%, 45%)
    }

    .totalTip {
        vertical-align: center;
        margin-left: 18rem;
        margin-top: 2rem;
        font-size: 2rem;
        color: hsl(172, 67%, 45%)
    }

    .reset {
        margin: 4rem auto 0rem auto;
    }

}
