/* CSS RESET  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET  */

/* Styling  */
body {
    font-family: 'Space Mono', monospace;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}
.container {
    background: hsl(185, 41%, 84%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 2rem;
    width: 5rem;
    height: 5rem;
}


.primaryCard {
    background: hsl(0, 0%, 100%);
    width: 100%;
    min-height: 100vh;
    border-radius: 15px;
}

h3 {
    margin: 1.8rem 0 0.5rem 1.8rem;
}

.billAmountInput {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1rem auto;
}

input[type="number"] {
    position: absolute;
    width: 83%;
    height: 2.2rem;
    border: none;
    background: hsl(189, 41%, 97%)
}

input[type="number"].focus {
    outline: 3px solid hsl(172, 67%, 84%);
}

i > img {
    position: relative;
    bottom: 1.4rem;
    right: 9rem;
    width: 0.7rem;
    height: auto;
    z-index: 2;
  }
  
.tipSelection {
    margin: 0.6rem 0 0.5rem 1.8rem; 
}

.percentageChoice {
    max-width: 100%;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    margin: 1rem 0 1rem 1.8rem;
    height: 3rem;
    border-radius: 8px;
    background: hsl(183, 100%, 15%);
    color: white;
    font-size: 1.3rem;
    font-family: 'Space Mono', monospace;
    border: none;
    padding: 0 2rem;
    cursor: pointer;
}

#customPercent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    margin: 1rem 0 1rem 1.8rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 1.3rem;
    border: none;
    padding: 0 2rem;
    font-family: 'Space Mono', monospace;
    background: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    cursor: pointer;
}

#customPercent:focus {
    outline: 3px solid hsl(172, 67%, 84%); 
}

button:hover {
    background: hsl(185, 41%, 84%);
    color:hsl(183, 100%, 15%)
}

button:active, button:focus {
    background: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}


.numberOfPeople {
    margin: 0.6rem 0 0.5rem 1.8rem; 
}

.numberOfPeopleValueDiv {
    display: flex;
    justify-content: center;
}

.numberOfPeopleValue {
    position: absolute;
    width: 83%;
    height: 2.2rem;
    border: none;
    background: hsl(189, 41%, 97%);
}

.personIcon {
    position: relative;
    z-index: 100;
    bottom: 1.4rem;
    right: 1.3rem;
    width: 0.8rem;
    height: auto;
  }
  

.secondaryCard {
    padding: 1rem;
    margin: 4rem 2rem;
    background: hsl(183, 100%, 15%);
    height: auto;
    color: white;
    border-radius: 15px;
}

.tipAmount, .totalTipAmount, .pp {
    margin: 1.2rem;
}

.pp {
    color: hsl(184, 14%, 56%);
    font-size: 0.85rem;
    margin-top: -0.9rem;
}

.tipPerPerson {
    vertical-align: center;
    margin-left: 4rem;
    font-size: 1.5rem;
    color: hsl(172, 67%, 45%)
}

.totalPerPerson {
    vertical-align: center;
    margin-left: 7rem;
    font-size: 1.5rem;
    color: hsl(172, 67%, 45%)
}

.reset {
    display: block;
    background: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5rem auto 0.5rem auto;
    border-radius: 10px;
    cursor: pointer;
}

.reset:hover {
    background: hsl(185, 41%, 84%);
    color:hsl(183, 100%, 15%)
}

.reset:active, .reset:focus {
    background: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}
